user nginx;
worker_processes  1;

error_log  /var/log/nginx/error.log;
pid        /var/run/nginx.pid;

events {
  worker_connections  1024;
}

http {
    upstream app {
        server <%= node.normal["nginx_balancer_nodes"]["ip_app1"]%>:8484;
        server <%= node.normal["nginx_balancer_nodes"]["ip_app2"]%>:8484;
    }

    server {
        listen 80;

        location / {
            proxy_pass http://app;
        }
    }
}
